<button type="button" id="mobile-nav-toggle"><i class="lnr lnr-menu"></i></button>
<header id="header">
    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                    <a href="index.html"><img src="img/logo.png" alt="" title=""></a>
                </div>
                <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
                    <a class="btns" href="tel:+953 012 3654 896">+953 012 3654 896</a>
                    <a class="btns" href="mailto:support@colorlib.com">support@colorlib.com</a>
                    <a class="icons" href="tel:+953 012 3654 896">
                        <span class="lnr lnr-phone-handset"></span>
                    </a>
                    <a class="icons" href="mailto:support@colorlib.com">
                        <span class="lnr lnr-envelope"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <nav id="nav-menu-container">
                <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
                    <li class="menu-active"><a href="/">Home</a></li>
                    							<li><a href="/services">Services</a></li>
                    							<li><a href="/opening">Opening Hour </a></li>
                    							<li><a href="/blog">Blog</a></li>
                    							<li><a href="/contact">Contact</a></li>
                    							<li><a href="https://dentic.herokuapp.com/">Sign in</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
            <div class="menu-social-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
        </div>
    </div>
</header><!-- #header -->

<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Opening Hour
                </h1>
                <p class="text-white link-nav"><a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span>
                    <a href="opening-hour.html"> Opening Hour</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start open-hour Area -->

<!-- End open-hour Area -->

<!-- Start service Area -->

<!-- End service Area -->

<!-- Start home-about Area -->

<!-- End home-about Area -->

<!-- Start testomial Area -->

<!-- End testomial Area -->
<section class="blog-area section-gap" id="blog">
          <div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">Latest From Our Blog</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
							dolore magna aliqua.</p>
					</div>
				</div>
			</div>
            <div class="row">
			<div class="col-lg-3 col-md-6 single-blog">
				<div class="thumb">
					<img class="img-fluid" src="img/b1.jpg" alt="">
				</div>
				<p class="date">10 Jan 2018</p>
				<a href="blog-single.html">
					<h4>Addiction When Gambling
						Becomes A Problem</h4>
				</a>
				<p>
					inappropriate behavior ipsum dolor sit amet, consectetur.
				</p>
				<div class="meta-bottom d-flex justify-content-between">
					<p><span class="lnr lnr-heart"></span> 15 Likes</p>
					<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 single-blog">
				<div class="thumb">
					<img class="img-fluid" src="img/b2.jpg" alt="">
				</div>
				<p class="date">10 Jan 2018</p>
				<a href="blog-single.html">
					<h4>Addiction When Gambling
						Becomes A Problem</h4>
				</a>
				<p>
					inappropriate behavior ipsum dolor sit amet, consectetur.
				</p>
				<div class="meta-bottom d-flex justify-content-between">
					<p><span class="lnr lnr-heart"></span> 15 Likes</p>
					<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 single-blog">
				<div class="thumb">
					<img class="img-fluid" src="img/b3.jpg" alt="">
				</div>
				<p class="date">10 Jan 2018</p>
				<a href="blog-single.html">
					<h4>Addiction When Gambling
						Becomes A Problem</h4>
				</a>
				<p>
					inappropriate behavior ipsum dolor sit amet, consectetur.
				</p>
				<div class="meta-bottom d-flex justify-content-between">
					<p><span class="lnr lnr-heart"></span> 15 Likes</p>
					<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 single-blog">
				<div class="thumb">
					<img class="img-fluid" src="img/b4.jpg" alt="">
				</div>
				<p class="date">10 Jan 2018</p>
				<a href="blog-single.html">
					<h4>Addiction When Gambling
						Becomes A Problem</h4>
				</a>
				<p>
					inappropriate behavior ipsum dolor sit amet, consectetur.
				</p>
				<div class="meta-bottom d-flex justify-content-between">
					<p><span class="lnr lnr-heart"></span> 15 Likes</p>
					<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                </div>
			</div>
            </div>
          </div>
		</section>
<!-- start footer Area -->
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-2  col-md-6">
                <div class="single-footer-widget">
                    <h6>Top Products</h6>
                    <ul class="footer-nav">
                        <li><a href="#">Managed Website</a></li>
                        <li><a href="#">Manage Reputation</a></li>
                        <li><a href="#">Power Tools</a></li>
                        <li><a href="#">Marketing Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4  col-md-6">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">Contact Us</h6>
                    <p>
                        56/8, bir uttam qazi nuruzzaman road, west panthapath, kalabagan, Dhanmondi, Dhaka - 1205
                    </p>
                    <h3>012-6532-568-9746</h3>
                    <h3>012-6532-568-97468</h3>
                </div>
            </div>
            <div class="col-lg-6  col-md-12">
                <div class="single-footer-widget newsletter">
                    <h6>Newsletter</h6>
                    <p>You can trust us. we only send promo offers, not a single spam.</p>
                    <div id="mc_embed_signup">
                        <form target="_blank" novalidate="true"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" class="form-inline">

                            <div class="form-group row" style="width: 100%">
                                <div class="col-lg-8 col-md-12">
                                    <input name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Your Email Address '" required="" type="email">
                                    <div style="position: absolute; left: -5000px;">
                                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                            type="text">
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-12">
                                    <button class="nw-btn primary-btn">Subscribe<span
                                            class="lnr lnr-arrow-right"></span></button>
                                </div>
                            </div>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright ©
                <script>document.write(new Date().getFullYear());</script>2021 All rights reserved | This template is
                made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                    target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Area -->

<script src="js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="js/easing.min.js"></script>
<script src="js/hoverIntent.js"></script>
<script src="js/superfish.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/main.js"></script>

<nav id="mobile-nav">
    <ul class="" style="touch-action: pan-y;" id="">
        <li class="menu-active"><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="opening-hour.html">Opening Hour </a></li>
        <li class="menu-has-children"><i class="lnr lnr-chevron-down"></i><a href="" class="sf-with-ul">Blog</a>
            <ul style="display: none;">
                <li><a href="blog-home.html">Blog Home</a></li>
                <li><a href="blog-single.html">Blog Single</a></li>
                <li class="menu-has-children"><i class="lnr lnr-chevron-down"></i><a href="" class="sf-with-ul">Level
                        2</a>
                    <ul style="display: none;">
                        <li><a href="#">Item One</a></li>
                        <li><a href="#">Item Two</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="pricing.html">Pricing</a></li>
        <li><a href="elements.html">Elements</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>
<div id="mobile-body-overly"></div>